
{% block footer %}
<!-- === BEGIN FOOTER === -->
		<div id="base">
			<div class="container padding-vert-30">
				<div class="row">
					<!-- Thumbs Gallery -->
					<!--<div class="col-md-3 margin-bottom-20">-->
						<!--<h3 class="margin-bottom-10">Portfolio Highlights</h3>-->
						<!--<div class="thumbs-gallery">-->



							<!--</div>			<div class="clearfix"></div>-->
						<!--</div>-->
						<!-- End Thumbs Gallery -->
						<!-- Contact Details -->
						<div class="col-md-3 margin-bottom-20">
							<h3 class="margin-bottom-10">Contact Details</h3>
							<p>A-76, Sector-3<br />
							Greater Noida West,<br />
							Gautam Budh Nagar,<br />
							Delhi(NCR),<br>
							Ph- 7289817380</p>
							<p>Email: <a href="mailto:devg04@gmail.com">devg04@gmail.com</a><br />
							Website: <a href="http://www.website.com/">www.padoliko.com</a></p>
						</div>
						<!-- End Contact Details -->
						<!-- Sample Menu -->
						<div class="col-md-3 margin-bottom-20" >
							<h3 class="margin-bottom-10">Quick Links</h3>
							<ul class="menu">
								<li>
									<a  href="/aboutus/" >About Us</a>
								</li>
								<li>
									<a  href="/signin/" >Login</a>
								</li>
								<li>
									<a  href="/signup/" >Sign up</a>
								</li>
								<li>
									<a  href="/contact/">Contact us</a>
								</li>
							</ul>
							<div class="clearfix"></div>

						</div>
						<!-- End Sample Menu -->
						<!-- Disclaimer -->
						<div class="col-md-3 margin-bottom-20">
							<h3 class="margin-bottom-10">News Letter</h3>
							<p>SUBSCRIBE OUR NEWS LETTER, We are the very enthusiastic team, working towards the environment and society development</p>
							<form action="/subscribe/" method="post">

								<label>Email : </label>
								<input type="email"  name="email" style="color:black"><p><br>
								<input type="submit" value="subscribe" style="color:black; margin-left:50px">

							</form>
							<div class="clearfix"></div>
						</div>
						<!-- End Disclaimer -->
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<!-- Footer Menu -->
			<div id="footer">
				<div class="container">
					<div class="row">
						<div id="copyright" class="col-md-4">
							<p>(c) 2018 This is  Copyright content</p>
						</div>
						<div id="footermenu" class="col-md-8">
							<ul class="list-unstyled list-inline pull-right">
								<li>
									<a href="#" target="_blank" >Social Media Site</a>
								</li>
								<li>
									<a href="#" target="_blank" >Machine Learning</a>
								</li>
								<li>
									<a href="#" target="_blank" >E-Commerce Site </a>
								</li>
								<li>
									<a href="#" target="_blank" >Chat Bot</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>



{% endblock %}