{% extends "./blog/base.html" %}

{%load blog_tags%}

<!-- === BEGIN CONTENT === -->

{% block content %}
		<div id="content" class="container">

			<div class="row margin-vert-30">


				<div class="col-md-9">
					<div class="blog-post">

						<div class="blog-item-header">
							<!--<div class="blog-post-date pull-left">-->
								<!--<span class="day">#{{post.publish.day}}</span>-->
								<!--<span class="month">#{{post.publish.month}}</span>-->
							<!--</div>-->
							<h2>
							<a href="{{ post.get_absolute_url }}">{{post.title}}

							</a>
							</h2>
						</div>
						<div class="blog-post-details">
							<!-- Author Name -->
							<div class="blog-post-details-item blog-post-details-item-left user-icon">
								<i class="fa fa-user"></i>
								<a href="#">{{post.author}}</a>
							</div>
							<!-- End Author Name -->
							<!-- Tags -->
							{%for tag in post.tags.all%}
							<div class="blog-post-details-item blog-post-details-item-left blog-post-details-tags tags-icon">
								<i class="fa fa-tag"></i>
								<a href="{% url 'blog:post_list_by_tag' tag.slug %}">{{tag.name}}</a> ,

							</div>
							{%endfor%}
							<!-- End Tags -->
							<!-- # of Comments -->
							<div
								class="blog-post-details-item blog-post-details-item-left blog-post-details-item-last comments-icon">
								{% with comments.count as total_comments %}

									<i class="fa fa-comments"></i>
									{{ total_comments }} comment{{ total_comments|pluralize }}


								{%endwith%}
							</div>
							<!-- End # of Comments -->
						</div>
						<div class="blog-item">
							<div class="clearfix"></div>
							<div class="blog-post-body row margin-top-15">
								<!--<div class="col-md-5">-->
									<!--<img class="pull-left" src="{{STATIC_URL}}img/blog/image1.jpg" alt="image1">-->
								<!--</div>-->
								<div class="col-md-12">
									<br>
									<p>{{post.body}}</p>
								</div>
								<div class="col-md-12">
									<p>
									References ,</p>
									<blockquote class="primary">
										<p>
										<em>{{post.references.all}}</em>
										</p>
										<small>
										Someone famous in
										<cite title="Source Title">Source Title</cite>
										</small>
									</blockquote>

								</div>
							</div>
							<br>
							{% include "./blog/social-strip.html"%}<hr><br>







							<!--post sharing by email start-->
							<div class="col-md-6 col-md-offset-3 col-sm-offset-3">
							<div class="panel panel-default">
  							<div class="panel-heading">
    						<h3 class="panel-title">Share "{{ post.title }}" by e-mail</h3>
 							</div>
    						<div class="panel-body">
      						{% include "./blog/post/share.html" %}
  							</div>
							</div>
							</div>


							<!--post sharing by email end-->



							<br><hr>


							<div class="blog-item-footer">
								<!-- About the Author -->
								<div class="blog-author panel panel-default margin-bottom-30">
									<div class="panel-heading">
										<h3>About Author</h3>
									</div>
									<div class="panel-body">
										<div class="row">
											<div class="col-md-2">
												{%for img in post.images.all%}
												<img class="pull-left" height="90" width="70" src="{{img.image.url}}" alt="image1">{%endfor%}
											</div>
											<div class="col-md-10">
												<label>{{post.author}}</label>
												<p>{{post.author}}</p>
											</div>
										</div>
									</div>
								</div>
								<!-- End About the Author -->
								<!-- Comments -->
								<div class="blog-recent-comments panel panel-default margin-bottom-30">
									<div class="panel-heading">
										<h3>Comments</h3>
									</div>
									<ul class="list-group">
										{% for comment in post.comments.all %}
										<li class="list-group-item">

											<div class="row">
												<div class="col-md-2 profile-thumb">
													<a  href="#">
														<img class="media-object" src="{{STATIC_URL}}img/profiles/99.jpg" alt="">
													</a>
												</div>
												<div class="col-md-10">
													<h4>{{comment.name}}, Comment Heading</h4>
													<p>{{ comment.body|truncatewords:10 }}</p>
													<span class="date"><i class="fa fa-clock-o"></i>{{comment.created}} </span>
												</div>
											</div>

										</li>
										{%endfor%}

										

										<!-- Comment Form -->
										<li class="list-group-item">
											<div class="blog-comment-form">
												<div class="row margin-top-20">
													<div class="col-md-12">
														<div class="pull-left">
															<h3>Leave a Comment</h3>
														</div>
													</div>
												</div>

												<div class="row margin-top-20">
													<div class="col-md-12">
                                                    {%csrf_token%}
														<form action="." method="post">
                                                    {%csrf_token%}
															<label>Name</label>
															<div class="row margin-bottom-20">
																<div class="col-md-7 col-md-offset-0">

																	<input name="name" class="form-control" type="text">
																</div>
															</div>

															<label>Email <span>*</span></label>
															<div class="row margin-bottom-20">
																<div class="col-md-7 col-md-offset-0">
																	<input name="email" class="form-control" type="text">
																</div>
															</div>

															<label>Message</label>
															<div class="row margin-bottom-20">
																<div class="col-md-11 col-md-offset-0">
																	<textarea name="body" class="form-control" rows="8"></textarea>
																</div>
															</div>
															
															<p><button class="btn btn-primary" type="submit">post</button></p>
														{%csrf_token%}</form>
                                                        {%csrf_token%}
													</div>
												</div>
											</div>
										</li>
										<!-- End Comment Form -->
									</ul>
									
								</div>
								<!-- End Comments -->
							</div>
							
						</div>
					</div>
					<!-- End Blog Post -->		</div>
					<!-- End Main Column -->
					<!-- Side Column -->


					<div class="col-md-3">
						<!-- Blog Tags -->
						<div class="blog-tags">
							<h3><em>Tags</em></h3>
							<ul class="blog-tags">
								{% for tag in all_tags%}
								<li><a href="{% url 'blog:post_list_by_tag' tag.slug %}" class="blog-tag"><strong>{{tag}}</strong></a></li>
								{%endfor%}

							</ul>			</div>
							<!-- End Blog Tags -->

							<!-- Recent Posts -->
						<div data-spy="affix" data-offset-top="60" data-offset-bottom="200">
							<div class="recent-posts">
								<h3><em>Related Post</em></h3>
								{%for post in similer_post%}

								<ul class="posts-list margin-top-10">
									<li>

										<div class="recent-post">
											<a href="#">
												{%for img in post.images.all%}
												<img class="pull-left" src="{{img.image.url}}" height="60" width="60">
												{%endfor%}
											</a>
											<a href="{{post.get_absolute_url}}" class="posts-list-title"><b>{{post.title}}</b></a>
											<br>
											<span class="recent-post-date">
											{{post.publish.month}} {{post.publish.day}}, {{post.publish.year}}
											</span>
										</div>
										<div class="clearfix"></div>
									</li>

								</ul>
								{%endfor%}
							</div>
								<!-- End Recent Posts -->
						<!--<div class="recent-posts">-->
							<!--<h3>Recent Activity</h3>-->
							<!--#{% get_latest_post %}-->


						<!--</div></div>-->

								<!-- End Side Column -->
							</div>
						</div>
					</div>
					<!-- === END CONTENT === -->
		</div>
					{%endblock%}


<style>
	.content
{
    overflow: hidden;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 100px;
    right: 0px;
    padding: 0px 10px;
    overflow: auto;
}
.sidenav
{
    padding: 10px 0;
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 100px; /* same as .content left */
    background-color: #fff;
    border-right: 1px solid #000;
    z-index: 1020;
}
</style>
